/* Importar fuente de letra desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Definición de variables globales de colores */
:root {
  --primary-color: #17195e;
  --color-azul: #92bdf6;
  --color-azul2: #c6defd;
  --background-color: #f8f8f8;
  --color-verde: #a3dac2;
  --color-rojo: #e7c2d4;
  --color-gris: #e1e1e1;
  --success-color: #28a745;
  --warning-color: #ff914d;
  --error-color: #dc3545;
}

/* Estilos globales */
body {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
}

/* Estilos de componentes */
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--background-color);
  color: var(--primary-color);
}

.hero {
  background-color: var(--primary-color);
  color: #fff;
  padding: 2rem;
  text-align: center;
}

.services {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  color: var(--primary-color);
}

.insurers {
  text-align: center;
  padding: 1rem;
  color: var(--primary-color);
}

.personal-health {
  background-color: var(--color-azul2);
  text-align: center;
  padding: 2rem;
  color: var(--primary-color);
}

.footer {
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: auto;
  height: 70px;
  margin-right: 10px;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
}

/* Estilos de navegación */
.navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  margin-left: 20px;
}

.navigation a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
}

.navigation a:hover {
  color: var(--color-azul);
}

/* Estilos personalizados para botones de Vuetify */
.v-btn {
  font-family: 'Outfit', sans-serif;
  font-size: 1em;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  text-transform: none; /* Evita que el texto esté en mayúsculas */
}

/* Estilo para el botón primario corporativo */
.v-btn.primary {
  background-color: var(--primary-color) !important;
  color: white !important;
}

/* Botón de éxito (Guardar Cambios) */
.v-btn.success {
  background-color: var(--success-color) !important;
  color: white !important;
}

/* Botón de advertencia */
.v-btn.warning {
  background-color: var(--warning-color) !important;
  color: rgb(0, 0, 0) !important;
}

/* Botón de error (rojo) */
.v-btn.error {
  background-color: var(--error-color) !important;
  color: white !important;
}

/* Botón gris (Cancelar) */
.v-btn.grey {
  background-color: var(--color-gris) !important;
  color: black !important;
}

/* Estilos específicos para el botón principal */
.boton-principal {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1em;
  font-weight: bold;
}

/* Estilo personalizado para enlaces en botones */
.btn-primary {
  background-color: var(--color-azul);
  color: white;
  font-size: 1.2em;
  padding: 10px 20px;
  border-radius: 8px;
}

/* Alineación de botones en lista de usuarios */
.user-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.user-actions {
  display: flex;
  gap: 10px;
  margin-right: 25px;
}

.user-info {
  text-align: left;
  color: var(--primary-color);
}

/* Asegura que todos los elementos usen la fuente 'Outfit' */
* {
  font-family: 'Outfit', sans-serif;
}

.texto-centrado {
  text-align: center;
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
}